<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.POST_PROMOTED_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_monochrome"
        android:supportsRtl="true"
        android:name=".MyJournalApplication"
        android:theme="@style/Theme.App.Starting"
        >
        <meta-data
            android:name="android.theme_icon"
            android:resource="@drawable/ic_launcher_monochrome" />
        <service
            android:name=".services.JournalChallengeService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
        <receiver android:name=".notifications.MeditationNotificationManager$MeditationActionReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.myjournalapp.STOP_MEDITATION" />
            </intent-filter>
        </receiver>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>